@media (max-width: 1100px) {
  .main-text,
  .main-image img,
  .make-image img {
    max-width: 500px;
  }
  .product-title {
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .main-text,
  .main-image img {
    max-width: 400px;
  }
  .background-container,
  #aside {
    padding-inline: 20px;
    padding-block: 21px;
  }
  .boxWehave {
    max-width: 200px;
  }
  .make-content {
    gap: 20px;
  }
  .bac-img {
    height: 180px;
  }
  .box-card {
    gap: 40px;
  }
}
@media (max-width: 750px) {
  .make-image img {
    max-width: 350px;
  }
  .main-image img {
    max-width: 300px;
  }
  .btn-box button {
    padding: 10px 20px;
  }
  .burger {
    display: flex;
  }
  .header {
    width: 100%;
  }
  .header a {
    display: none;
  }
  .boxWehave {
    max-width: 160px;
  }
  .box-card {
    gap: 10px;
  }
}
@media (max-width: 630px) {
  .main {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .main-image img {
    width: 90%;
  }
  .main-text {
    max-width: 500px;
  }
  .main-text h1,
  .main-text h1 span,
  .make-content h1 span,
  .title h1 span {
    font-size: 50px;
  }
  .btn-box button {
    padding: 13px 30px;
  }
  .btn-box {
    gap: 20px;
  }
  .user-info p {
    line-height: 20px;
  }
  .background-container {
    height: max-content;
    width: 280px;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 19px;
    padding-inline: 20px;
  }
  .boxWehave {
    max-width: 200px;
  }
  #section,
  #artcile {
    padding-block: 10px;
  }
  .article {
    flex-direction: column;
  }
  .make-content {
    max-width: 320px;
    gap: 30px;
  }
  .box-card {
    flex-direction: column;
    justify-content: center;
    padding-block: 20px;
  }
  .product-title {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  #header {
    padding-block: 20px;
  }
  .main-text h1,
  .main-text h1 span,
  .make-content h1,
  .make-content h1 span {
    font-size: clamp(2.188rem, 0.521rem + 8.33vw, 3.125rem);
  }
  .main-text p {
    padding-top: 13px;
    padding-bottom: 16px;
  }
  .user-info,
  .btn-box {
    padding-block: 20px;
  }
  .btn-box {
    gap: 10px;
  }
}
