* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
body {
  background-color: rgb(18, 21, 23);
  font-family: Montserrat, sans-serif;
}

p {
  color: rgba(217, 217, 217, 1);
  line-height: 32.69px;
  font-weight: 400;
  font-size: clamp(1rem, 0.948rem + 0.26vw, 1.25rem);
}
h1 {
  font-size: clamp(3rem, 2.582rem + 2.09vw, 5rem);
  color: rgba(255, 255, 255, 1);
}

h2 {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  font-size: clamp(1.125rem, 0.942rem + 0.92vw, 2rem);
}
h4 {
  font-size: clamp(1.25rem, 0.701rem + 2.75vw, 3.875rem);
  color: #fff;
  font-weight: 400;
}
button {
  cursor: pointer;
  font-size: clamp(0.875rem, 0.744rem + 0.65vw, 1.5rem);
  border-radius: 80px;
  padding: 15px 30px;
  font-weight: 400;
  transition: all 0.3s ease;
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
button:hover {
  transition: 0.2s;
  background: none;
  border: 1px solid #fff;
}
.container {
  width: 100%;
  max-width: 1850px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 530px) {
    padding-inline: 20px;
  }
}
#header {
  padding-block: 40px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.header h3,
.footer-menu h3 {
  font-size: clamp(1.375rem, 1.179rem + 0.98vw, 2.313rem);
  background: linear-gradient(263.46deg, #237249 3.14%, #35c66b 87.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
.header p {
  transition: 1s ease-in;
}
.header p:hover {
  transform: translateY(-10px);
  color: rgb(39, 134, 81);
  font-weight: 500;
}
.burger {
  display: none;
  color: #35c66b;
  font-size: 30px;
}
/*! Header end*/
/*! Main start */
#main {
  padding-block: 40px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-text {
  max-width: 574px;
}
.main-text h1 span {
  font-size: clamp(3.125rem, 2.733rem + 1.96vw, 5rem);
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-text p {
  padding-block: 50px;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-block: 54px;
}
.user-info div {
  display: flex;
  flex-direction: column;
}
.user-info h4 span {
  color: #237249;
}
.user-info p {
  padding-block: 1px;
  max-width: 122px;
  color: rgba(217, 217, 217, 1);
  font-weight: 400;
}
.main-image {
  max-width: 574px;
}
.main-image img {
  width: auto;
  transition: transform 0.4s ease, opacity 0.4s ease; /* Плавная анимация для нескольких свойств */
}
.main-image img:hover {
  transform: translateY(-10px) scale(1.1); /* Поднимаем и немного увеличиваем изображение */
  opacity: 0.9; /* Лёгкое изменение прозрачности */
}
.btn-box {
  display: flex;
  align-items: center;
  gap: 30px;
}
/*! Main end */

/*! Section start  */

#section {
  padding-block: 90px;
}
.section {
  display: flex;
  justify-content: center;
}
.background-container {
  max-width: 1590px;
  width: 100%;
  height: 442px;
  background: linear-gradient(
    264.52deg,
    #ffffff 4.95%,
    #e5e5e5 64.19%,
    #fbfbfb 88.37%
  );
  border-radius: 46px;
  padding-inline: 78px;
  padding-block: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxWehave {
  max-width: 227px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 15px;
}
.boxWehave img {
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.boxWehave img:hover {
  transform: translateY(-10px) scale(1.1);
  opacity: 0.9;
}
.boxWehave h2 {
  color: rgba(18, 21, 23, 1);
}
.boxWehave p {
  color: rgba(18, 21, 23, 0.9);
}
/*! Section end  */

/*! Article start  */
#article {
  padding-block: 30px;
}
.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.make-image {
  max-width: 540px;
}
.make-content {
  max-width: 460px;
  display: flex;
  gap: 60px;
  flex-direction: column;
}
.make-content h1 span,
.product-title h1 span,
.event_text h1 span,
.contacts-text h1 span {
  font-size: clamp(3.125rem, 2.733rem + 1.96vw, 5rem);
  background: linear-gradient(265.23deg, #237249 6.79%, #35c66b 97.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bac-img {
  background-image: url("https://s3-alpha-sig.figma.com/img/7d4c/7ffd/754ba2c5eefa43da3891d41020fc93dd?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XbHwj3UbGfHAy7Q~0vUTIndORf6mJTGhvDC-xyKhu9pXz5W76qaUoUtOHxOubGVLqPwRuHws4efSUr5gZc4AnEdXwnK42grN~hxNidBYL2ZkEW1fb0OdKzx2KBRz6UzNDPGzxRTtoRDibe14YfemabAJUMNuIibVKEaYmFtQZy~rBS4XFUoU1z2WVftq2bRsJ94yFVXy6C42KFYKOiu6J6aPLuId~wYg9LkH8-w80cjJ070eTdu~q~jrrXXCsYBgSULqnXSF1BM0tavFSe9~-Y7h2gQJBl3A3i80JX5SBRqD7LpznUXAd4REMTecXxN2krz6TK9mqbrQ~IGDxilcTQ__");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*! Article end  */

/*! Aside start  */
#aside {
  padding-block: 50px;
}
.title {
  max-width: 390px;
  line-height: 87px;
}
.description {
  max-width: 444px;
  line-height: 32px;
}
.product-title {
  display: flex;
  align-items: center;
  gap: 73px;
}
.box-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 60px;
  gap: 20px;
}
.card {
  max-width: 300px;
  width: 100%;
  border: 1.35px solid #dadada;
  height: max-content;
  border-image-slice: 1;
  border-radius: 30px;
  padding-block: 50px;
  padding-inline: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
.bac-card-cofee {
  width: 186px;
  height: 186px;
  border-radius: 50%;
  background: linear-gradient(267.2deg, #237249 3.05%, #35c66b 75.72%);
  box-shadow: 0px 5.03px 51.53px 0px rgba(0, 0, 0, 0.39);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 10px;
}
.card p {
  max-width: 216px;
}
.card h2 {
  padding-block: 10px;
}
.price {
  display: flex;
  align-items: center;
  gap: 25px;
}
/*! Aside end  */

#event {
  padding-block: 50px;
}
.event_text {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 72px;
}
.event_text p {
  max-width: 457px;
}
.event_text h1 {
  max-width: 370px;
}
.event-content {
  padding-block: 50px;
}
.coffee {
  background: url(/image/alex-haney-CAhjZmVk5H4-unsplash\ 1.png);
  background-size: cover;
  background-position: center;
  max-width: 614px;
  width: 100%;
  height: 250px;
  border-radius: 30px;
  padding-block: 44px;
  padding-inline: 26px;
  display: flex;
  align-items: center;
}
.coffee-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.coffee-text h2 {
  max-width: 230px;
}
.kitchen {
  background: url(/image/Rectangle\ 9.png);
  background-size: cover;
  background-position: center;
  max-width: 614px;
  width: 100%;
  height: 250px;
  border-radius: 30px;
  padding-block: 44px;
  padding-inline: 26px;
  display: flex;
  align-items: center;
}

.coffee-free {
  background: url(/image/Rectangle\ 10.svg);
  background-size: cover;
  background-position: center;
  max-width: 401px;
  width: 100%;
  height: 250px;
  border-radius: 30px;
  padding-block: 44px;
  padding-inline: 26px;
  display: flex;
  align-items: center;
}

.instagram {
  background: url(/image/Rectangle\ 11.svg);
  background-size: cover;
  background-position: center;
  max-width: 401px;
  height: 250px;
  width: 100%;
  border-radius: 30px;
  padding-block: 44px;
  padding-inline: 26px;
  display: flex;
  align-items: center;
}
.choose {
  background: url(/image/Rectangle\ 12.svg);
  background-size: cover;
  background-position: center;
  max-width: 401px;
  width: 100%;
  height: 250px;
  border-radius: 30px;
  padding-block: 44px;
  padding-inline: 26px;
  display: flex;
  align-items: center;
}
.coffee-box,
.inst-box {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  gap: 30px;
}
/*! contacts start*/
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-text {
  max-width: 391px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contactus {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inst-name,
.call-number {
  display: flex;
  align-items: center;
  gap: 13px;
}
.logo-inst {
  font-size: clamp(2.188rem, 1.847rem + 1.7vw, 3.125rem);
  color: rgb(39, 130, 80);
}
.contact-image {
  max-width: 477px;
}
.contact-image img {
  width: 100%;
}
/*! contacts end*/

/*! footer start*/
#footer {
  margin-top: 100px;
  background-color: rgba(11, 12, 13, 1);
}
.footer {
  padding-block: 50px;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
}
.menu-box-footer p {
  color: rgba(187, 179, 179, 0.43);
}
.menu-box-footer p:first-child {
  color: rgba(187, 179, 179, 1);
  font-weight: 400;
}
.row-icons {
  width: 84px;
  height: 84px;
  border: 1px solid #35c66b;
  border-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer-number {
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-number h3 {
  font-size: clamp(1.125rem, 0.943rem + 0.91vw, 1.625rem);
  background: linear-gradient(263.46deg, #237249 3.14%, #35c66b 87.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
/*! footer end*/
